<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beerclub.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beerclub.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beerclub.city %>
</p>

<% if @beerclub.users.empty? %>
	<p>No members</p>
<% else %>
	<p>Beerclub has <%= pluralize(@beerclub.users.count, "member") %></p>
	
	<ul>
  	<% @beerclub.users.each do |user| %>
    	<li> <%= link_to user.username, user %> </li>
  	<% end %>
	</ul>
	
<% end %>

<% if current_user and not current_user.beerclubs.include?(@beerclub) %>
<%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beerclub_id %>
    <%= f.submit value:"Join this beerclub" %>
 <% end %>
<% end %>

<%= link_to 'Edit', edit_beerclub_path(@beerclub) if current_user %>
